<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427990378688-vfcuavqgqe094tkba97ie0fpvqr6nm6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427990378688-vfcuavqgqe094tkba97ie0fpvqr6nm6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427990378688-38pqa9e4eqnf4htgoa05caqu5irb451o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Zbi26KMedwu99fKKZsnnX5yA5kiydY4</string>
	<key>GCM_SENDER_ID</key>
	<string>427990378688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phinam.smart</string>
	<key>PROJECT_ID</key>
	<string>pnfood-merchant</string>
	<key>STORAGE_BUCKET</key>
	<string>pnfood-merchant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427990378688:ios:4be089be34a741f5432525</string>
</dict>
</plist>